#     ██████╗ ██╗████████╗ ██████╗ ██████╗ ███╗   ██╗███████╗██╗ ██████╗
#    ██╔════╝ ██║╚══██╔══╝██╔════╝██╔═══██╗████╗  ██║██╔════╝██║██╔════╝
#    ██║  ███╗██║   ██║   ██║     ██║   ██║██╔██╗ ██║█████╗  ██║██║  ███╗
#    ██║   ██║██║   ██║   ██║     ██║   ██║██║╚██╗██║██╔══╝  ██║██║   ██║
# ██╗╚██████╔╝██║   ██║   ╚██████╗╚██████╔╝██║ ╚████║██║     ██║╚██████╔╝
# ╚═╝ ╚═════╝ ╚═╝   ╚═╝    ╚═════╝ ╚═════╝ ╚═╝  ╚═══╝╚═╝     ╚═╝ ╚═════╝
# https://textkool.com/en/ascii-art-generator?hl=default&vl=default&font=ANSI%20Shadow&text=.gitconfig

[user]
  email = amadeusz.kryze@pm.me
	name = Aam
	signingkey = /Users/aam/.ssh/ssh.ed25519.sign.github.com.pub
[http]
	sslverify = false
[pull]
	rebase = true
	autoSetupRemote = true
[core]
	ignorecase = false
	excludesFile = ~/.gitignore
	fileMode = true
[init]
	defaultBranch = main
[status]
	submoduleSummary = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[gpg]
	program = gpg
	format = ssh
[push]
	autoSetupRemote = true
[rebase]
	autoStash = true
[commit]
	gpgsign = true
[gpg "ssh"]
	allowedSignersFile = /Users/aam/.ssh/allowed_signers
[tag]
	gpgsign = true
[format]
	signoff = true
